@model AsesoriasUABC.Models.MateriasTb

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MateriasTb</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clave_materia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clave_materia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plan_estudios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plan_estudios)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_materia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
