@model AsesoriasUABC.ViewModels.UsuariosViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SubMenueOptions{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>

    </ul>
}

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h4>Usuarios</h4>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ApellidoP, htmlAttributes: new { @class = "control-label col-md" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ApellidoP, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ApellidoP, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ApellidoM, htmlAttributes: new { @class = "control-label col-md" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ApellidoM, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ApellidoM, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.sexo, htmlAttributes: new { @class = "control-label col-md" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.sexo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.sexo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.codigo_Empleado, htmlAttributes: new { @class = "control-label col-md" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.codigo_Empleado, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.codigo_Empleado, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-6">

                        <div class="form-group">
                            @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label col-md" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.contraseña, htmlAttributes: new { @class = "control-label col-md" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.contraseña, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.contraseña, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.estatus, htmlAttributes: new { @class = "control-label col-md" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.estatus, new { htmlAttributes = new { @class = "" } })
                                @Html.ValidationMessageFor(model => model.estatus, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Roles</label>
                            @Html.ValidationMessageFor(model => model.Director, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <div>
                                            @Html.EditorFor(model => model.Director, new { htmlAttributes = new { @class = "" } })
                                            @Html.LabelFor(model => model.Director, htmlAttributes: new { @class = "control-label col-md-8" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Subdirector, new { htmlAttributes = new { @class = "" } })
                                        @Html.LabelFor(model => model.Subdirector, htmlAttributes: new { @class = "control-label col-md-8" })
                                    </div>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Coordinador, new { htmlAttributes = new { @class = "" } })
                                        @Html.LabelFor(model => model.Coordinador, htmlAttributes: new { @class = "control-label col-md-8" })
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Profesor, new { htmlAttributes = new { @class = "" } })
                                        @Html.LabelFor(model => model.Profesor, htmlAttributes: new { @class = "control-label col-md-8" })
                                    </div>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Becario, new { htmlAttributes = new { @class = "" } })
                                        @Html.LabelFor(model => model.Becario, htmlAttributes: new { @class = "control-label col-md-8" })
                                    </div>
                                    <div class="form-group">
                                        @Html.EditorFor(model => model.Secretario, new { htmlAttributes = new { @class = "" } })
                                        @Html.LabelFor(model => model.Secretario, htmlAttributes: new { @class = "control-label col-md-8" })
                                    </div>
                                </div>
                            </div>

                        </div>


                        

                       

                    </div>
                </div>
              
               
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
