@model AsesoriasUABC.Models.Usuarios

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SubMenueOptions{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-done d-sm-inline-block">
            <a href="@Url.Action("Index","Usuarios")" class="nav-link"><i class="fas fa-arrow-alt-circle-left"></i> Regresar a la tabla </a>
        </li>
    </ul>
}
<h2>Borrar ususario</h2>
<div class="card">
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.id_AspUser)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.id_AspUser)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApellidoP)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApellidoP)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApellidoM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApellidoM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.codigo_empleado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.codigo_empleado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.sexo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sexo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.estatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.estatus)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        }
    </div>
</div>

