@model IEnumerable<AsesoriasUABC.Models.AsesoriasTb>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css/tables")

@section SubMenueOptions{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>

    </ul>
}
@Scripts.Render("~/bundles/tables")
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="card">
    <div class="card-body">

        <table class="table table-bordered table-striped" id="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.matricula)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.id_materia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.id_asesor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cvc)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.matricula)
                        </td>
                        <td>
                             @item.MateriasTb.nombre
                        </td>
                        <td>
                            @item.AsesoresTb.nombre  @item.AsesoresTb.ApellidoP @item.AsesoresTb.ApellidoM
                            
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cvc)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id_asesoria }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id_asesoria }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id_asesoria })
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        
        $("#table").DataTable({



        });
    })
</script>