<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AsesoriasFIAD</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Contend/fonts")
    @Styles.Render("~/Contend/fonts2")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition sidebar-mini" >
        <div class="wrapper">
            <nav class="navbar navbar-expand navbar-green navbar-light">

            </nav>
                    @RenderBody()

        </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false);
</body>
</html>
